html {
    scroll-behavior: smooth;
}

/* Reset the padding and margins to 0*/
body {
    margin: 0;
    padding: 0;
}

/* Center kendricks logo to the header*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 125px;
    background-color: #ececec;
    /* Little shadow for the header*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

header div img {
    width: auto;
    height: 80px;
}

h1 {
    font-family: 'Bungee' , sans-serif;
    font-size: 5em;
}

.h1-masthead {
   margin-top: 25px;
   margin-bottom: -10px;
}

h2, h3, h4, h5, h6 {
    font-family: 'Rampart One' , sans-serif;
}

/* Styling for normal lyrics*/
p {
    font-family: 'Onest' , sans-serif;
}

/* Styling for the ad-libs */
p span{
    font-family: 'Dokdo' , sans-serif;
    font-style: italic;
    font-size: 1.4em;
}

.title-masthead {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

/* Set div size for the property below*/
.video-section div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 800px;
}

/* Make iframe/youtube video take full width of the div*/
.video-section div iframe{
    width: 100%;
    height: 100%;
    border: 0;
}

/* Make the background black and text white*/
.lyrics-section {
    display: flex;
    background-color: #000000;
    color: #f8f8f8;
    width: 100%;
}

/* Make the divs take 50 percent of the page width*/
.lyrics-section div {
    width: 50%;
    padding: 30px;
}

/* Align h2 "Lyrics" to the center of the div*/
.lyrics-section .lyrics-div h2 {
    text-align: center;
}

/* white space to make line end*/
.lyrics-section .lyrics-div p {
    white-space: pre-line;
    margin-left: 125px;
    margin-right: 50px;
}

/* Center images in the middle and display in column*/
.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*border-color: red;
    border-width: 2px;
    border-style: solid;*/
    width: 50%;
}

/* Old film camera effect*/
.img-div img {
    width: 300px;
    height: 300px;
    border-width: 20px 15px 60px 15px;
    border-style: solid;
    border-radius: 3px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}


/* Rotate the images so it looks nicer*/
.photo1 {
    transform: rotate(-10deg);
    margin-right: 100px;
    z-index: 1;
 }

.photo2 {
    transform: rotate(10deg);
    z-index: 2;
}

.photo3 {
    transform: rotate(-10deg);
    z-index: 1;
}

